**Objective**
write a code to merge the tables Data1 & Data2.

Lets import pandas library

In [1]:
import pandas as pd

Read the datasets data1 & data2. Check if both datasets are importted correctly.

In [2]:
# Read data from Data 1 table
data1 = pd.read_csv(Desktop/Test_folder/Data1.csv')
print(data1)

    Customer_id         Data1
0             1  Test1_122022
1             1  Test1_112022
2             1  Test1_102022
3             1  Test1_092022
4             1  Test1_082022
5             1  Test1_072022
6             1  Test1_062022
7             1  Test1_052022
8             1  Test1_042022
9             2  Test1_122022
10            2  Test1_112022
11            2  Test1_102022
12            2  Test1_092022
13            2  Test1_082022
14            3  Test1_102022

In [3]:
# Read data from Data 2 table
data2 = pd.read_csv(Desktop/Test_folder/Data2.csv')
print(data2)

    Customer_id         Data2
0             1  Test2_122022
1             1  Test2_112022
2             1  Test2_102022
3             1  Test2_092022
4             1  Test2_082022
5             1  Test2_072022
6             1  Test2_062022
7             1  Test2_052022
8             1  Test2_042022
9             2  Test2_122022
10            2  Test1_112022
11            2  Test2_102022
12            2  Test2_092022
13            2  Test2_082022
14            4  Test2_082022

We observe that the date portion of the "Data1" and "Data 2" columns follows the format "Test1_MMYY" and "Test2_MMYY" respectively. Lets split the string using "_" as the delimiter and extracts the month-year .Convert the string into pd.to_datetime() with the format "%m%Y". T

In [4]:
# Extract month-year from Data 1
data1["Month_Year"] = data1["Data1"].str.split("_").str[1]
data1['Month_Year'] = pd.to_datetime(data1['Month_Year'],format="%m%Y").dt.strftime("%m-%Y")
print(data1)

    Customer_id         Data1 Month_Year
0             1  Test1_122022    12-2022
1             1  Test1_112022    11-2022
2             1  Test1_102022    10-2022
3             1  Test1_092022    09-2022
4             1  Test1_082022    08-2022
5             1  Test1_072022    07-2022
6             1  Test1_062022    06-2022
7             1  Test1_052022    05-2022
8             1  Test1_042022    04-2022
9             2  Test1_122022    12-2022
10            2  Test1_112022    11-2022
11            2  Test1_102022    10-2022
12            2  Test1_092022    09-2022
13            2  Test1_082022    08-2022
14            3  Test1_102022    10-2022

In [5]:
# Extract month-year from Data 2
data2["Month_Year"] = data2["Data2"].str.split("_").str[1]
data2['Month_Year'] = pd.to_datetime(data2['Month_Year'],format="%m%Y").dt.strftime("%m-%Y")
print(data2)

    Customer_id         Data2 Month_Year
0             1  Test2_122022    12-2022
1             1  Test2_112022    11-2022
2             1  Test2_102022    10-2022
3             1  Test2_092022    09-2022
4             1  Test2_082022    08-2022
5             1  Test2_072022    07-2022
6             1  Test2_062022    06-2022
7             1  Test2_052022    05-2022
8             1  Test2_042022    04-2022
9             2  Test2_122022    12-2022
10            2  Test1_112022    11-2022
11            2  Test2_102022    10-2022
12            2  Test2_092022    09-2022
13            2  Test2_082022    08-2022
14            4  Test2_082022    08-2022

Lets Merge the results with Customer_id & MonthYear.Outer join is used as some of the observations can be present only in 1 dataset.
Results are sorted by 'Customer_id ' and 'Month Year'

In [6]:
# Join data for same customer ID and month-year
merged_data = pd.merge(data1, data2, how="outer", left_on=["Customer_id", "Month_Year"], right_on=["Customer_id", "Month_Year"])
# Change the order of columns
merged_data = merged_data[["Customer_id", "Month_Year", "Data1", "Data2"]]
# Sort the data by Customer_id & Month_Year
merged_data = merged_data.sort_values(by=["Customer_id", "Month_Year"])
#Check the results
print(merged_data)

    Customer_id Month_Year         Data1         Data2
8             1    04-2022  Test1_042022  Test2_042022
7             1    05-2022  Test1_052022  Test2_052022
6             1    06-2022  Test1_062022  Test2_062022
5             1    07-2022  Test1_072022  Test2_072022
4             1    08-2022  Test1_082022  Test2_082022
3             1    09-2022  Test1_092022  Test2_092022
2             1    10-2022  Test1_102022  Test2_102022
1             1    11-2022  Test1_112022  Test2_112022
0             1    12-2022  Test1_122022  Test2_122022
13            2    08-2022  Test1_082022  Test2_082022
12            2    09-2022  Test1_092022  Test2_092022
11            2    10-2022  Test1_102022  Test2_102022
10            2    11-2022  Test1_112022  Test1_112022
9             2    12-2022  Test1_122022  Test2_122022
14            3    10-2022  Test1_102022           NaN
15            4    08-2022           NaN  Test2_082022

We can see that tables are merged properly.